@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body {
    font-family: 'Emilys Candy', cursive;
}

* {
    margin: 0;
    padding: 0;
  }

#subscribe {
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

#btn-sub {
    padding: 2px;
    width: 30%;
    background-color: #ff0000;
    border: 2px solid #ffffff;
}

nav {
    display: flex;
    justify-content:space-between;
    margin: 20px;
}

.highlight {
    color: #d87093
}

.h-blue {
    color: #0000ff;
}

#start ul, #socials ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

#start ul li, #socials ul li {
    margin-right: 20px;
}

#socials ul li:last-child {
    margin-right: 0;
}

.img-fluid {
    object-fit: cover;
    background-position: center;
    max-height: 80vh;     
}

.carousel-caption{
    transform: translateY(-150%);
    bottom: initial;
}

#maua {
    background-color: #bc8f8f;
}

#tots {
    background-color: #708090;
}

.btn-display {
    border: 2px dashed #ffffff;
    border-radius: 25px;
    padding: 5px;
    width: 30%;
    background-color: #000000;
    color: #ff0000;
}

#collection {
    padding: 50px;
}

#shop {
    border: 2px dashed #ffffff;
    text-align: center;
}

#shop:hover {
    background-color: #ff0000;
    border: 2px solid #ffffff;
}

#shop a:hover {
    color: #000000;
}

.col-md-3 {
    box-shadow: 0 10px 15px rgba(0,0,255,0.3);
}

 /* {
    transform: scale(1.1); /*to allow the image to scale 1.1 when hovered*/







