@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body {
    font-family: 'Emilys Candy', cursive;
}

* {
    margin: 0;
    padding: 0;
  }

#subscribe {
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

#btn-sub {
    padding: 2px;
    width: 30%;
    background-color: #ff0000;
    border: 2px solid #ffffff;
}

nav {
    display: flex;
    justify-content:space-between;
    margin: 20px;
}

.highlight {
    color: #d87093
}

.h-blue {
    color: #0000ff;
}

#start ul, #socials ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

#start ul li, #socials ul li {
    margin-right: 20px;
}

#socials ul li:last-child {
    margin-right: 0;
}

/*to ensure that images fit in the carousel, make sure they are fluid (thus responsive), set to pcover and position center then set maximum height*/
.display-img {
    object-fit: cover;
    background-position: center;
    max-height: 80vh;     
}

.carousel-caption{
    transform: translateY(-150%);
    bottom: initial;
}

#maua {
    background-color: #bc8f8f;
}

#tots {
    background-color: #708090;
}

.btn-display {
    border: 2px dashed #ffffff;
    border-radius: 25px;
    padding: 5px;
    width: 30%;
    background-color: #000000;
    color: #ff0000;
}

#collection {
    padding: 50px;
}

#shop {
    border: 2px dashed #ffffff;
    text-align: center;
}

#shop:hover {
    background-color: #ff0000;
    border: 2px solid #ffffff;
}

#shop a:hover {
    color: #000000;
}

.toto-collection {
    box-shadow: 0 10px 15px rgba(0,0,255,0.3);
}

.centered-text { /*used this to overlay the text on the image*/
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relative {
    border: 3px solid red;
    height: 200px;

}

.absolute {
    position: absolute;
    border: 2px solid green;
    right: 0;
   height: 80px;
}

#Instagram-feed {
    margin: 10px;
}

#details {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #00008b;
    padding: 20px;   
}

/*CSS for the products/about us page*/

#founder {
    display: flex;    
}

#founder-bio {
    text-align: center;
    height: 100%;
    padding: 50px;
}

/*CSS for the products page*/
#product-filter {
    display: flex;
}

/*I used flex-grow because it allows a child under the parent whose display is set to flex to expand the flex container to max width AND expand itself to fill the remaining space. This allows the dropdowns to align to the right*/
/*Flex-grow expands elements to fit their available space relative to its sibling flex elements*/

#product-filter h3 {
    flex-grow: 1;  
} 

.collection-sort {
    display: flex;
}

/*For the cloth section, I used[flex to display and wrap so that they'd come around but the width is all messed up*/
#baby-clothes {
    display:flex;
    flex-wrap: wrap;
}

/*Add img-fluid to the images on the HTML code. In order to manage the width,use display:flex, then arrange the flex children using flex-grow so that they occupy equal space in the row. For our design, we want 5 items per row and to wrap the rest to new rows as needed. To get five per row, they’ll need to have a width of 20% (5 * 20 = 100). Settings flex-basis: 20% would do the trick, but when we factor in padding, it exceeds 100% and we’ll only get 4 per row. With 2% padding on either side and 16% flex-basis, it’ll be just right. but in my case this led to 6 in 1 row and 4 the next. 17% gets 5 on each but smaller. i added flex-direction column so that the caption comes to the bottom*/

.product-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2%;
    flex-basis: 17%;    
    border: 2px solid #e0ffff;
}

.product-img img {
    max-width: 100%;
}

/*add margin-top auto so that the captions are at the same level*/

.product-info {
    margin-top: auto;
}










/*Add media queries*/
@media (max-width:768px) {

    .social {
        padding-bottom: 20px;
    }

   #details {
       display: flex;
       flex-direction: column;
       text-align: center;
       padding: 10px;
   }

   #founder {
       display: flex;
       flex-wrap: wrap;
   }

    /*make the products section responsive, but leaving it at 1 and 21% leaves two large items at the bottom*/

  .product-card {
      flex-grow: 1;
      flex-basis: 21%;
      background-color: #d3d3d3;
  }

  /*select the first two children and change their size instead*/
  #baby-clothes .product-card:first-child,
  #baby-clothes .product-card:nth-child(2) {
    flex-grow: 2;
    flex-basis: 46%
  }
   

}

/*For smaller screens to display the product well*/
@media (max-width: 600px) {
    #baby-clothes .product-card {
      flex: 1;
      flex-basis: 46%;
    }

    #product-filter {
        flex-direction: column;
        text-align: center;
    }
  }
  






