@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body {
    font-family: 'Emilys Candy', cursive;
}

* {
    margin: 0;
    padding: 0;
  }

#subscribe {
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

#btn-sub {
    padding: 2px;
    width: 30%;
    background-color: #ff0000;
    border: 2px solid #ffffff;
}

nav {
    display: flex;
    justify-content:space-between;
    margin: 20px;
}

.highlight {
    color: #d87093
}

.h-blue {
    color: #0000ff;
}

#start ul, #socials ul {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
}

#start ul li, #socials ul li {
    margin-right: 20px;
}

#socials ul li:last-child {
    margin-right: 0;
}

/*to ensure that images fit in the carousel, make sure they are fluid (thus responsive), set to pcover and position center then set maximum height*/
.display-img {
    object-fit: cover;
    background-position: center;
    max-height: 80vh;     
}

.carousel-caption{
    transform: translateY(-150%);
    bottom: initial;
}

#maua {
    background-color: #bc8f8f;
}

#tots {
    background-color: #708090;
}

.btn-display {
    border: 2px dashed #ffffff;
    border-radius: 25px;
    padding: 5px;
    width: 30%;
    background-color: #000000;
    color: #ff0000;
}

#collection {
    padding: 50px;
}

#shop {
    border: 2px dashed #ffffff;
    text-align: center;
}

#shop:hover {
    background-color: #ff0000;
    border: 2px solid #ffffff;
}

#shop a:hover {
    color: #000000;
}

.toto-collection {
    box-shadow: 0 10px 15px rgba(0,0,255,0.3);
}

.centered-text { /*used this to overlay the text on the image*/
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relative {
    border: 3px solid red;
    height: 200px;

}

.absolute {
    position: absolute;
    border: 2px solid green;
    right: 0;
   height: 80px;
}

#Instagram-feed {
    margin: 10px;
}

#details {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #00008b;
    padding: 20px;   
}

/*CSS for the products/about us page*/

#founder {
    display: flex;    
}

#founder-bio {
    text-align: center;
    height: 100%;
    padding: 50px;
}





/*Add media queries*/
@media (max-width:768px) {

    .social {
        padding-bottom: 20px;
    }

   #details {
       display: flex;
       flex-direction: column;
       text-align: center;
       padding: 10px;
   }

   #founder {
       display: flex;
       flex-wrap: wrap;
   }

}
  






